@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Accounting ERP</h1>
    <p class="lead">Firmanız için muhasebe takip uygulaması.</p>
    <div class="row">
        <div class="col-md-6" align="right">
            <p><a href="/User/Login" class="btn btn-primary btn-lg">Giriş Yap</a></p>
        </div>
        <div class="col-md-6">
            <p><a href="/User/Register" class="btn btn-primary btn-lg">Kayıt Ol</a></p>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Optimize..</h2>
        <p>
            Kayıt olarak mağaza bilgilerinizi düzenleyin. Gelir giderlerinizden oluşan net durumları ve muhasebe kayıtlarınızı sağlıklı bir şekilde takip edin.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Paydaşlı Şirketlere Uyumlu</h2>
        <p>Ortaklarınız ile hesaplarınız karışmasın. Ortak hissedarlık çerçevesinde bütün paydaşların kendi aralarındaki alacak ve borç durumlarını en doğru şekilde analiz edin.</p>
    </div>
    <div class="col-md-4">
        <h2>Finansal Analiz</h2>
        <p>Elde ettiğiniz geçmiş ve gelecek kayıtlar ile harcamalarınızın ve gelirlerinizin sirkülasyonuna göre finansal hamlelerinizi doğru yapın.</p>
    </div>
</div>